log-queries
log-dhcp

dhcp-range={{ dhcp_start }},{{ dhcp_end }},{{ netmask }},1m
dhcp-option=option:router,{{ gateway }}
dhcp-option=option:dns-server,{{ dns1 }}

enable-tftp
tftp-root=/tftpboot
dhcp-boot=pxelinux.0

addn-hosts=/etc/dnsmasq.hosts
address=/.apps.{{ ocp_cluster_name }}.{{ ocp_domain_name}}/{{ ocp_apps }}
